{
  "semi": true,
  "printWidth": 100,
  "singleQuote": true,
  "traillingComma": "all",
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
